* {
   margin: 0;
   box-sizing: border-box;
   background-color: #edf2f4;
   font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
